  <footer>
    <div class="container">
      <div class="row">
        <!-- Logo and mission statement -->
        <div class="col-md-4">
          <!-- Add the logo here -->
          <div class="footer-logo">
            <img src="/path/to/logo" alt="Logo" />
          </div>
          <p>Our mission is to provide a one-stop-shop for all voting information for the people of Kansas.</p>
        </div>
        
        <!-- Links -->
        <div class="col-md-4">
          <h4>Links</h4>
          <ul>
            <li><a href="#">Contact Us</a></li>
            <li><a href="#">About Us</a></li>
          </ul>
        </div>
        
        <!-- Social media -->
        <div class="col-md-4">
          <h4>Follow Us</h4>
          <ul>
            <li><a href="#">Facebook</a></li>
            <li><a href="#">Instagram</a></li>
            <li><a href="#">Twitter</a></li>
          </ul>
        </div>
      </div>
      
      <!-- Copyright and legal links -->
      <div class="row">
        <div class="col text-center">
          <div class="copyright">&copy; 2023 Kansas Voting Information. All rights reserved.</div>
          <div class="terms"><a href="#">Terms of Use</a></div>
          <div class="policy"><a href="#">Privacy Policy</a></div>
        </div>
      </div>
  </footer>
