  <!-- Header -->
  <header class="container-fluid">
    <div class="row align-items-center justify-content-between">
      <div class="col-md-4 header-left">
        <img src="/images/logo-placeholder.png" alt="Logo" class="logo">
        <span class="website-name">Kansas Voting Info</span>
      </div>
      <div class="col-md-4 header-right">
        <input type="text" class="search-bar" placeholder="Search...">
        <a href="/contact" class="contact-link">CONTACT</a>
      </div>
    </div>
  </header>

